/* layout navbar */
.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}
      
.nav-link:not(:hover) {
    background-color: transparent;

}

.nav-link {
    opacity: 0.8; 
    padding: 10px 10px;
}
/* layout navbar */

/* show active */
#show_active {
    width: 20px; 
    height: 20px; 
    background-color: green;
}

#show_inactive {
    width: 20px; 
    height: 20px; 
    background-color: gray;
}
/* show active */


  


