{% extends "layout.html" %}
{% load static %}

{% block body %}

    <p>{{ fill_company }}</p>

    {% if warning %}
    {{ warning }}

    {% else %}

        <div class="container mt-3">
            <div class="row">
                <div class="col-md-12">
                    <div class="mb-4 border rounded-lg shadow-sm p-3">
                        <h4 class="mb-4">Create Job Post</h4>
                        <hr>
                        <form action="{% url 'job_post:create_job_post' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}

                            <div class="form-group">
                                <label for="job_title"><strong>* Job Title:</strong></label>
                                <input type="text" id="job_title" class="form-control" name="job_title" required>
                            </div>

                            <div class="form-group">
                                <label for="job_type"><strong>* Job Type:</strong></label>
                                <select id="job_type" name="job_type" class="form-control" required onfocus="removeEmptyOption(this)">
                                    <option value=""></option>
                                    {% for choice in job_type_choices %}
                                    <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="company"><strong>* Company:</strong></label>
                                {% if is_employer %}
                                <input type="text" id="company" class="form-control" name="company" value="{{ request.user.emp_user_id.get.comp.comp_name }}" readonly required>
                                <input type="hidden" name="company_id" value="{{ request.user.emp_user_id.get.comp.pk }}">
                                {% else %}
                                <select id="company" name="company" class="form-control" required required onfocus="removeEmptyOption(this)">
                                    <option value=""></option>
                                    {% for company in all_companies %}
                                    <option value="{{ company.pk }}">{{ company.comp_name }}</option>
                                    {% endfor %}
                                </select>
                                {% endif %}
                            </div>

                            <hr>

                            <div class="form-group">
                                <label for="job_info_file"><strong>Upload Job Information File:</strong></label>
                                <input type="file" id="job_info_file" name="job_info_file">
                            </div>

                            <div class="form-group">
                                <label for="job_desc_text"><strong>Job Description:</strong></label>
                                <textarea id="job_desc_text" class="form-control" name="job_desc_text"></textarea>
                            </div>

                            <div class="form-group">
                                <label for="job_requirement_text"><strong>Job Requirement:</strong></label>
                                <textarea id="job_requirement_text" class="form-control" name="job_requirement_text"></textarea>
                            </div>

                            <div class="form-group">
                                <label><strong>Related Major:</strong></label><br>
                                {% for major in all_major %}
                                <label>
                                    <input type="checkbox" name="job_major" value="{{ major.pk }}"> {{ major.major_id }}
                                </label>
                                {% endfor %}
                            </div>

                            <div class="form-group">
                                <label for="job_close_date"><strong>Close Date:</strong></label>
                                <input type="datetime-local" id="job_close_date" class="form-control" name="job_close_date">
                            </div>

                            <div class="form-group">
                                <label for="job_location"><strong>Location</strong>:</label>
                                <textarea id="job_location" class="form-control" name="job_location"></textarea>
                            </div>

                            <input type="submit" class="btn btn-dark btn-block" value="Create"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}
{% endblock %}

{% block script %}
<script>
    $(document).ready(function() {
        $('.dropdown_with_search').select2();
    });
</script>

<script>
    $(document).ready(function() {
        $('.dropdown_with_search').select2();

        // Get current date and time
        var currentDate = new Date();
        var currentDateTime = currentDate.toISOString().slice(0,16);

        // Set min attribute for Close Date input
        $('input[name="job_close_date"]').attr('min', currentDateTime);
    });
</script>

<script>
    function removeEmptyOption(selectElement) {
        if (selectElement.value == '') {
            selectElement.removeChild(selectElement.options[0]);
        }
    }
</script>

{% endblock %}
