{% extends "layout.html" %}
{% load static %}

{% block body %}

    {{ warning }}

    

    <div class="container mt-3">
        <div class="row">
            <div class="col-md-12">
                <!--------------------------------------------------------------------------------->
                    {% if selected_job_post in request.user.favourite_posts.all %}
                    <div type="button" class="favorite-button" data-job-post-id="{{ job_post.id }}">
                        <div class="position-absolute" style="top: 16px; right: 30px">
                            <img src="https://icons.iconarchive.com/icons/designbolts/free-valentine-heart/256/Heart-icon.png" alt="Favorite" style="width: 32px; height: 32px;">
                        </div>
                    </div> <!-- favorite -->
                    {% else %}
                    <div type="button" class="favorite-button" data-job-post-id="{{ job_post.id }}">
                        <div class="position-absolute" style="top: 16px; right: 30px">
                            <img src="https://cdn-icons-png.freepik.com/256/1077/1077035.png" alt="Unfavorite" style="width: 32px; height: 32px;">
                        </div>
                    </div><!-- unfavorite -->
                    {% endif %}
                <!--------------------------------------------------------------------------------->

                <div class="mb-4 border rounded-lg shadow-sm p-3">
                    {{ selected_job_post }}
                        
                                                
                                 



                    <!---------------------------------------------------------------------------------->
                        {% if is_student %}
                            <hr>
                            <button class="btn btn-success btn-block">Apply Job</button>
                        {% endif %}
                    <!---------------------------------------------------------------------------------->
                        {% if is_job_post_owner %}
                            <hr>
                            <a href="{% url 'job_post:edit_job_post' selected_job_post.pk %}" style="text-decoration: none;"><button class="btn btn-info btn-block">Edit</button></a>

                            <div class="show_delete_dialog"><button class="btn btn-danger mt-2 btn-block">Delete</button></div>
                    
                            <dialog style="border-radius: 10px;">
                                <header>
                                    <h2>Confirm Deletion</h2>
                                </header>
                                <div>
                                    Are you sure you want to permanently remove this job post?
                                </div>
                                <footer>
                                    <menu>
                                        <button class="btn btn-danger ml-5" id="dialog-footer--confirm-btn" job_post_id="{{ selected_job_post.pk }}">Confirm</button>
                                        <button class="btn btn-success ml-5" id="dialog-footer--cancel-btn">Cancel</button>
                                    </menu>
                                </footer>
                            </dialog>
                        {% endif %}
                    <!---------------------------------------------------------------------------------->
                </div>
            </div>
        </div>
    </div>

    {% if is_job_post_owner %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-12">
                <div class="mb-4 border rounded-lg shadow-sm p-3">
                    <div class=""><i class="bi bi-6-square-fill"></i><h3>Applicants List</h3></div>
                    <hr>
                   
                        {{ all_applicants }}

                        <hr>
                        <p><a href="{% url 'job_post:generate_pdf' selected_job_post.pk %}" style="text-decoration: none;" download>
                            <button class="btn btn-success btn-block">Download Applicants List (PDF)</button></a></p>
                    
                        
                </div>
            </div>
        </div>
    </div>
    {% endif %}

{% endblock %}

{% block script %}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        document.querySelector('.show_delete_dialog').onclick = () => {
            document.querySelector('dialog').showModal()
            document.querySelector('#dialog-footer--cancel-btn').onclick = () => {
                document.querySelector('dialog').close()
            }
            document.querySelector('#dialog-footer--confirm-btn').onclick = () => {
                <!-- console.log(`/update_job_post/{{ selected_job_post.pk }}`) -->
                fetch(`/update_job_post/{{ selected_job_post.pk }}`, {
                    method: 'PUT',
                    body: JSON.stringify({
                        delete: true
                    })
                }).then(() => {
                    return window.location.replace("{% url 'job_post:posted_job_posts' %}")
                })             
            }
        }
    })
</script>


    <script>
 document.addEventListener('DOMContentLoaded', () => {
    const favoriteButtons = document.querySelectorAll('.favorite-button');

    favoriteButtons.forEach(button => {
        button.addEventListener('click', () => {
            const jobId = button.dataset.jobPostId;
            const isFavorite = button.classList.contains('favorite');

            // request POST to add/delete status "favorite"
            fetch(`/toggle_favorite/${jobId}/`, {
                method: 'POST',
                headers: { 'X-CSRFToken': '{{ csrf_token }}' },
            })
            .then(response => response.json())
            .then(data => {
                if (data.is_favorite) {
                    button.innerHTML = '<div class="position-absolute" style="top: 16px; right: 20px"><span class="fav-icon" style="font-size: 26px;">&#x1F496;</span></div>';
                    button.classList.add('favorite');
                } else {
                    button.innerHTML = '<div class="position-absolute" style="top: 20px; right: 20px"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="M12 20.325q-.35 0-.712-.125t-.638-.4l-1.725-1.575q-2.65-2.425-4.788-4.812T2 8.15Q2 5.8 3.575 4.225T7.5 2.65q1.325 0 2.5.562t2 1.538q.825-.975 2-1.537t2.5-.563q2.35 0 3.925 1.575T22 8.15q0 2.875-2.125 5.275T15.05 18.25l-1.7 1.55q-.275.275-.637.4t-.713.125M11.05 6.75q-.725-1.025-1.55-1.563t-2-.537q-1.5 0-2.5 1t-1 2.5q0 1.3.925 2.763t2.213 2.837q1.287 1.375 2.65 2.575T12 18.3q.85-.775 2.213-1.975t2.65-2.575q1.287-1.375 2.212-2.837T20 8.15q0-1.5-1-2.5t-2.5-1q-1.175 0-2 .538T12.95 6.75q-.175.25-.425.375T12 7.25q-.275 0-.525-.125t-.425-.375m.95 4.725"></path></svg></div>';
                    button.classList.remove('favorite');
                }
            });
        });
    });
});

    </script>


{% endblock %}