{% extends "layout.html" %}
{% load static %}

{% block body %}

<h1>Display Job Post</h1>

{{ warning }}

{{ selected_job_post }}
<a href="{% url 'job_post:edit_job_post' selected_job_post.pk %}">
    <button>Edit</button>
</a>
{{ all_applicants }}

{% if is_job_post_owner %}
<p><a href="{% url 'job_post:generate_pdf' selected_job_post.pk %}" download>Download Applicants List (PDF)</a></p>
<button class="delete_button">Delete</button>
{% endif %}

<dialog>
    <header>
        <h2>Confirm Deletion</h2>
    </header>
    <div>
        Are you sure you want to permanently remove this job post?
    </div>
    <footer>
        <menu>
            <button id="dialog-footer--cancel-btn">Cancel</button>
            <button id="dialog-footer--confirm-btn">Confirm</button>
        </menu>
    </footer>
</dialog>

{% endblock %}

{% block script %}
<script>
    document.querySelector('.delete_button').onclick = () => {
        document.querySelector('dialog').showModal()
    }
</script>
{% endblock %}