{% extends "layout.html" %}
{% load static %}

{% block body %}

<h1>Following</h1> 

<form action="{% url 'job_post:following' %}" method='GET'>
<input type="search" placeholder="Search.." name='search_term' value="{{ search_term }}">
</form>

{% if not all_job_posts %}
No Result Found
{% else %}
{{ all_job_posts }}
{% endif %}

{% if not followed_companies %}
You are not following any companies
{% else %}
{{ followed_companies }}
{% endif %}

<a href="{% url 'job_post:followed_companies' %}"><button>more</button></a>

{% endblock %}