<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <!-- FILTERS SECTION -->
            <div class="col-md-3">
                <h2 class="grid-title"><i class="fa fa-filter"></i> Filters</h2>
                <hr>
                <!-- BEGIN FILTER BY CATEGORY -->
                <form>    
                    <h4>By Job Type:</h4>
                    {% for choice in job_type_choices %}
                    <div class="checkbox">
                    <label><input type="checkbox" name="job_type" value="{{ choice.1 }}" class="filter_checkbox"> {{ choice.1 }}</label>
                    </div>
                    {% endfor %}
                    <h4>By Related Major:</h4>
                    {% for major in all_major %}
                    <div class="checkbox">
                    <label><input type="checkbox" name="job_major" value="{{ major.pk }}" class="filter_checkbox"> {{ major.major_id }}</label>
                    </div>
                    {% endfor %}
                    <h4>Status:</h4>
                    {% for choice in job_status_choices %}
                    <div class="checkbox">
                    <label><input type="checkbox" name="job_status" value="{{ choice.1 }}" class="filter_checkbox"> {{ choice.1 }}</label>
                    </div>
                    {% endfor %}
                </form>
                <!-- END FILTER BY CATEGORY -->
            </div>
            <!-- END FILTERS SECTION -->
    
            <!-- MAIN CONTENT SECTION -->
            <div class="col-md-9">
                <h1>Main Page</h1>
                <!-- BEGIN SEARCH INPUT -->
                <div class="input-group">
                    <input type="text" class="form-control" value="web development">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
                    </span>
                </div>
                <!-- END SEARCH INPUT -->
                <p>Showing all results matching "web development"</p>
                
                <div class="padding"></div>
    
                <form action="{% url 'job_post:index' %}" method='GET'>
                    <input type="search" placeholder="Search.." name='search_term' value="{{ search_term }}">
                </form>
    
                {% if not all_job_posts %}
                    <p>No Result Found</p>
                {% else %}
                    {% for job_post in all_job_posts %}
                        <div class="job_post_div">
                            <p class="job_title">{{ job_post.job_title }}</p>
                            <p class="company">{{ job_post.company }}</p>
                            <p class="job_type">{{ job_post.get_job_type_display }}</p>
                            {% for major in job_post.job_major.all %}
                                <span class="job_major">{{ major.pk }}</span>
                            {% endfor %}
                            <p class="job_status">{{ job_post.get_job_status_display }}</p>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <!-- END MAIN CONTENT SECTION -->
        </div>
    </div>
</body>
</html>