<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <script
      src="https://unpkg.com/react@17/umd/react.production.min.js"
      crossorigin
    ></script>
    <script
      src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"
      crossorigin
    ></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <title>Job Opportunities</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
  </head>
  <body class="h-100">
    <div class="h-25 d-flex justify-content-center align-items-center bg-dark">
      <span class="display-1" style="color: white"> Job Opportunities </span>
    </div>
    <div
      class="d-flex p-2 mt-5 flex-column justify-content-center align-items-center"
    >
      <div class="p-4 border rounded w-25">
        <h2>Login</h2>
        <hr />
        {% if message %}
        <div>{{ message }}</div>
        {% endif %}

        <form
          class="pt-2"
          action="{% url 'user_profiles:login' %}"
          method="post"
        >
          {% csrf_token %}
          <div class="form-group">
            <input
              autofocus
              class="form-control"
              type="text"
              name="username"
              placeholder="Username"
            />
          </div>
          <div class="form-group">
            <input
              class="form-control"
              type="password"
              name="password"
              placeholder="Password"
            />
          </div>
          <input class="btn btn-dark float-right" type="submit" value="Login" />
        </form>

        <p>Don't have an account?</p>
        <a href="{% url 'user_profiles:register' %}">Register here.</a>
      </div>
    </div>
  </body>
</html>
