.input-group {
    width: 100%; /* ทำให้ครอบเนื้อหาเต็มพื้นที่ */
    max-width: 500px; /* ปรับขนาดสูงสุดของช่องค้นหา */
    margin: auto; /* จัดกลางตามแนวนอน */
}

input[type="search"] {
    width: calc(100% - 40px); /* ลดขนาดของ input เพื่อให้มีพื้นที่สำหรับปุ่มค้นหา */
    border-radius: 20px; /* กำหนดขอบโค้งให้กับช่องค้นหา */
    padding: 10px; /* กำหนดการเรียงข้อความข้างในช่องค้นหา */
    font-size: 16px; /* กำหนดขนาดตัวอักษร */
}

.input-group-btn .btn {
    border-radius: 20px; /* กำหนดขอบโค้งให้กับปุ่มค้นหา */
    padding: 10px 20px; /* กำหนดการเรียงข้อความภายในปุ่มค้นหา */
    font-size: 16px; /* กำหนดขนาดตัวอักษร */
}

.smtest {
    color: red;  
}